
html, body {
	margin: 0;
	padding: 0;
	background-color: #d8c0c0;
}

@font-face {
    font-family: yeezy_tstar-heavy-webfont;
    src: url(yeezy_tstar-heavy-webfont.woff);
}

a:hover {
	color: #bb8a74;
}

.container {
	max-width: 1500px;
  height: auto;
	margin: 0 auto;
	padding: 0 10px;
}

.header {
  /*background-color: #d8c0c0; */
  z-index: 999;
  height: 100px;
}

.nav {
  list-style-type: none;
  margin: 0;
  padding-top: 20px;
  text-decoration: none;
}

  .nav p {
    margin-left: 15px;
    padding-top: 0px;
  }

  .nav li {
    color: #C49587;
    display: inline block;
    float: right;
    font-family: 'yeezy_tstar-heavy-webfont', sans-serif;
    font-weight: 600;
    font-size: 12px;
    margin-right: 25px;
    text-transform: uppercase;
  }

.main {
	position: relative;
	top: 10px;
	text-align: center;
}

  .main h1 {
    color: #C49587;
    font-family: 'yeezy_tstar-heavy-webfont', sans-serif;
    font-weight: 600;
    font-size: 120px;
    margin-top: 0;
    margin-bottom: 80px;
    text-transform: uppercase;
  }

img{
	color: #C49587;
	margin: 0;
	width: 40px;
	height: 40px;
	padding-right: 5px;
  padding-bottom: 5px;
}

.btn{
	color: #C49587;
	font-family: 'yeezy_tstar-heavy-webfont', sans-serif;
	padding-bottom: 120px;
	text-decoration: none;
}

.backbtn {
	color: #bb8a74;
	font-family: 'yeezy_tstar-heavy-webfont', sans-serif;
	text-decoration: none;
	font-weight: 600;
	font-size: 25px;
	padding-top: -5px;
}

/*
.icon{
	width: 100px;
	height: 100px;
	padding: 25px, 25px, 25px, 25px;
}
*/



.introBackground{
  background-color: #C8AEA7;
  background-size: cover;
  height: 600px;
}

.bio {
	width: 400px;
	height: 400px;
	font-size: 30px;
	line-height: 1.5;
	/*text-align: justify; */
	font-family: 'yeezy_tstar-heavy-webfont', serif;
	color: #EBDAD6;
	padding-left: 100px;
	padding-top: 30px;
	position: absolute;
}

/*pho
/*top row*/

.photobox {
	margin-left: 700px;
	margin-top: 35px;
	position: absolute;
  float: bottom;
  z-index: 99;
}

.photoboxBottom {
  margin-left: 700px;
  margin-top: 225px;
  position: absolute;
}

.photobox > div {
  position: relative;
  float: left;
  padding: 0px;
}

.photoboxBottom > div {
  position: relative;
  float: left;
  padding: 0px;
}


.photos{
  width: 185px;
  height: 185px;
  display: block;
  float: left;
  border-radius: 8px;
  float: left;
  display: inline-block;
  object-fit: cover;
}


/*projects*/
#rig {
    max-width:1100px;
    margin:0 auto; /*center aligned*/
    padding: 50px 10px 10px 10px;
    font-size:0; /* Remember to change it back to normal font size if have captions */
    list-style:none;
    background-color:#d8c0c0;
}
#rig li {
    display: inline-block;
    *display:inline;/*for IE6 - IE7*/
    width:25%;
    border-radius: 100px;
    vertical-align:middle;
    box-sizing:border-box;
    margin:0;
    padding:10px 10px 10px 10px;
}
        
/* The wrapper for each item */
.rig-cell {
    /*margin:12px;
    box-shadow:0 0 6px rgba(0,0,0,0.3);*/
    display:block;
    position: relative;
    overflow:hidden;
    width: 250px;
    height: 250px;
}
        
/* If have the image layer */
.rig-img {
    display:block;
    width: 100%;
    height: auto;
    border:none;
    transform:scale(1);
    transition:all 1s;
    object-fit: cover;
}

#rig li:hover .rig-img {
    transform:scale(1.05);
}
        
/* If have the overlay layer */
.rig-overlay {
    position: absolute;
    display:block;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    background: #C49587 url(img/link.png) no-repeat center 20%;
    background-size:50px 50px;
    opacity:0;
    filter:alpha(opacity=0);/*For IE6 - IE8*/
    transition:all 0.6s;
}
#rig li:hover .rig-overlay {
    opacity:0.8;
}

/* If have captions */
.rig-text {
    display:block;
    padding:0 30px;
    box-sizing:border-box;
    position:absolute;
    left:0;
    width:100%;
    text-align:center;
    text-transform:capitalize;
    font-size:18px;
    font-weight:bold;
    font-family: 'yeezy_tstar-heavy-webfont', sans-serif;
    font-weight:normal!important;
    top:40%;
    color:white;
    opacity:0;
    filter:alpha(opacity=0);/*For older IE*/
    transform:translateY(-20px);
    transition:all .3s;
}
#rig li:hover .rig-text {
    transform:translateY(0px);
    opacity:0.9;
}

@media (max-width: 9000px) {
    #rig li {
        width:25%;
    }
}

@media (max-width: 700px) {
    #rig li {
        width:33.33%;
    }
}

@media (max-width: 550px) {
    #rig li {
        width:50%;
    }
}

/*POPUP DESCRIPTION*/
.popupbox {
  z-index: 199;
  position:absolute;
  top:12.5%;
  left:30%;
  width: 40%;
  height: 75%;
  background-color: /*#bb8a74; */ #EBDAD6;
  opacity: 0.9;
  visibility: hidden; 
  /*display: none;*/
}

  .popupbox h1 {
    font-size:50px;
    font-family: 'yeezy_tstar-heavy-webfont', sans-serif;
    font-weight:normal!important;
    text-align: center;
    color: #bb8a74;
    line-height: 0.2;
  }

   .popupbox h3 {
    font-size:25px;
    font-family: 'yeezy_tstar-heavy-webfont', sans-serif;
    font-weight:normal!important;
    text-align: center;
    color: #bb8a74;
    line-height: 0.4;
  } 

  .popupbox p {
    font-size:18px;
    font-weight:bold;
    font-family: 'Oswald', sans-serif;
    font-weight:normal!important;
    text-align: center;
 }


  .textbox {
    opacity: 0.8;
    z-index: 199;
    position: absolute;
    top: 16%;
    left: 4%;
    width: 92%;
    height: 80%;
    background-color: #fff;
  }



/*FOOTER */
.footer{
  padding: 30px 0;
}

  .footer p {
    font-family: 'yeezy_tstar-heavy-webfont', serif;
    color: #C49587;
    font-size: 12px;
    text-align: center;
    margin-bottom: 0px;
    position: absolute;
  }












